<a href="https://colab.research.google.com/github/joelfreeman38/data-sourcing-challenge/blob/main/Copy_of_retrieve_data_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Import Required Libraries and Set Up Environment Variables

In [1]:
# Dependencies
import requests
import time
from dotenv import load_dotenv
import os
import pandas as pd
import json
import os
from datetime import datetime
import pickle
## Load the NASA_API_KEY from the env file
load_dotenv()
NASA_API_KEY = os.getenv("NASA_API_KEY")

### CME Data

In [2]:
# Set the base URL to NASA's DONKI API:
base_url = "https://api.nasa.gov/DONKI/"

# Set the specifier for CMEs:

CME = "CME"

# Search for CMEs published between a begin and end date
start_date = "2013-05-01"
end_date   = "2024-05-01"


# Build URL for CME
def build_cme_url(base_url, start_date, end_date, api_key):
    return f"{base_url}CME?startDate={start_date}&endDate={end_date}&api_key={api_key}"

In [3]:

import requests  # Make sure to import the requests library

# Define the cme_url variable with a valid URL
cme_url = "https://api.nasa.gov/DONKI/CME?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY"  # Replace with the actual URL

# Make a "GET" request for the CME URL and store it in a variable named cme_response
cme_response = requests.get(cme_url)

# Check if the request was successful
if cme_response.status_code == 200:
    print("CME data fetched successfully!")
else:
    print(f"Failed to fetch CME data. Status code: {cme_response.status_code}")

CME data fetched successfully!

In [4]:
# Convert the response variable to JSON and store it as a variable named cme_json
try:
    cme_json = cme_response.json()
    print("CME JSON data successfully loaded!")
except ValueError as e:
    print(f"Error loading CME JSON data: {e}")

CME JSON data successfully loaded!

In [5]:
# Preview the first result in JSON format
# Use json.dumps with argument indent=4 to format data
import json

if cme_json:  # Ensure cme_json is not empty or None
    print(json.dumps(cme_json[4], indent=8))
else:
    print("No data found in CME JSON response.")

{
        "activityID": "2024-11-23T11:12:00-CME-001",
        "catalog": "M2M_CATALOG",
        "startTime": "2024-11-23T11:12Z",
        "instruments": [
                {
                        "displayName": "SOHO: LASCO/C2"
                },
                {
                        "displayName": "SOHO: LASCO/C3"
                },
                {
                        "displayName": "STEREO A: SECCHI/COR2"
                }
        ],
        "sourceLocation": "S16E65",
        "activeRegionNum": 13906,
        "note": "CME visible to the east in SOHO LASCO C2/C3 and STEREO A COR2. The potential source may be an eruption on the disk from AR 3906 (S16E65) starting at 2024-11-23T09:37Z, based on field line movement seen in SDO AIA 171 and GOES SUVI 284.",
        "submissionTime": "2024-11-23T17:11Z",
        "versionId": 1,
        "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/CME/35267/-1",
        "cmeAnalyses": [
                {
                        "isMostAccurate": true,
                        "time21_5": "2024-11-23T17:06Z",
                        "latitude": -10.0,
                        "longitude": -63.0,
                        "halfAngle": 20.0,
                        "speed": 623.0,
                        "type": "C",
                        "featureCode": "LE",
                        "imageType": "running difference",
                        "measurementTechnique": "SWPC_CAT",
                        "note": "Measurement based on the best fit between SOHO LASCO C2/C3 and STEREO A COR2 in SWPC_CAT as well as potential source location.",
                        "levelOfData": 0,
                        "tilt": null,
                        "minorHalfWidth": null,
                        "speedMeasuredAtHeight": 12.6,
                        "submissionTime": "2024-11-23T17:12Z",
                        "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/CMEAnalysis/35268/-1",
                        "enlilList": [
                                {
                                        "modelCompletionTime": "2024-11-23T17:21Z",
                                        "au": 2.0,
                                        "estimatedShockArrivalTime": null,
                                        "estimatedDuration": null,
                                        "rmin_re": null,
                                        "kp_18": null,
                                        "kp_90": null,
                                        "kp_135": null,
                                        "kp_180": null,
                                        "isEarthGB": false,
                                        "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/WSA-ENLIL/35271/-1",
                                        "impactList": [
                                                {
                                                        "isGlancingBlow": false,
                                                        "location": "BepiColombo",
                                                        "arrivalTime": "2024-11-24T08:36Z"
                                                },
                                                {
                                                        "isGlancingBlow": true,
                                                        "location": "Parker Solar Probe",
                                                        "arrivalTime": "2024-11-25T20:00Z"
                                                }
                                        ],
                                        "cmeIDs": [
                                                "2024-11-23T11:12:00-CME-001"
                                        ]
                                }
                        ]
                }
        ],
        "linkedEvents": null
}

In [6]:
# Convert the JSON response to a Pandas DataFrame and keep only specified columns
cme_df = pd.DataFrame(cme_json)[['activityID','startTime','linkedEvents']]

# Display the first few rows to verify the result
print(cme_df.head()) # Use print() to display the DataFrame

                    activityID          startTime linkedEvents
0  2024-11-23T00:12:00-CME-001  2024-11-23T00:12Z         None
1  2024-11-23T03:12:00-CME-001  2024-11-23T03:12Z         None
2  2024-11-23T05:24:00-CME-001  2024-11-23T05:24Z         None
3  2024-11-23T06:24:00-CME-001  2024-11-23T06:24Z         None
4  2024-11-23T11:12:00-CME-001  2024-11-23T11:12Z         None

In [7]:
# Convert the JSON response to a Pandas DataFrame and keep only specified columns
import pandas as pd # Import the pandas library and alias it as 'pd'
cme_df = pd.DataFrame(cme_json)[['activityID','startTime','linkedEvents']]

# Display the first few rows to verify the result
print(cme_df.head()) # Use print() correctly to display the DataFrame

                    activityID          startTime linkedEvents
0  2024-11-23T00:12:00-CME-001  2024-11-23T00:12Z         None
1  2024-11-23T03:12:00-CME-001  2024-11-23T03:12Z         None
2  2024-11-23T05:24:00-CME-001  2024-11-23T05:24Z         None
3  2024-11-23T06:24:00-CME-001  2024-11-23T06:24Z         None
4  2024-11-23T11:12:00-CME-001  2024-11-23T11:12Z         None

In [8]:
# ipython-input-14-5f0b79a56a04
# Convert the JSON response to a Pandas DataFrame and keep only specified columns
import pandas as pd # Import the pandas library and alias it as 'pd'
cme_df = pd.DataFrame(cme_json)[['activityID','startTime','linkedEvents']]

# Display the first few rows to verify the result
print(cme_df.head()) # Use print() correctly to display the DataFrame

                    activityID          startTime linkedEvents
0  2024-11-23T00:12:00-CME-001  2024-11-23T00:12Z         None
1  2024-11-23T03:12:00-CME-001  2024-11-23T03:12Z         None
2  2024-11-23T05:24:00-CME-001  2024-11-23T05:24Z         None
3  2024-11-23T06:24:00-CME-001  2024-11-23T06:24Z         None
4  2024-11-23T11:12:00-CME-001  2024-11-23T11:12Z         None

# Assistant
The selected code performs the following steps:

1. `cme_df = pd.DataFrame(cme_json)[['activityID', 'startTime', 'linkedEvents']]` - This line converts a JSON object (`cme_json`) into a Pandas DataFrame. It then selects only the specified columns: `'activityID'`, `'startTime'`, and `'linkedEvents'`. The resulting DataFrame, `cme_df`, will contain only these three columns from the original JSON data.

2. `print(cme_df.head())` - This line prints the first few rows (default is 5) of the `cme_df` DataFrame to the console. This is useful for quickly verifying that the DataFrame has been created correctly and contains the expected data.

In [9]:
# Remove rows with missing 'linkedEvents' as these can't be assigned to GSTs
cme_df = cme_df.dropna(subset=['linkedEvents'])

# Display the updated DataFrame to verify the changes
print(cme_df.head())

                     activityID          startTime  \
6   2024-11-23T19:24:00-CME-001  2024-11-23T19:24Z
11  2024-11-25T03:12:00-CME-001  2024-11-25T03:12Z
12  2024-11-25T04:00:00-CME-001  2024-11-25T04:00Z
16  2024-11-25T21:24:00-CME-001  2024-11-25T21:24Z
19  2024-11-27T02:48:00-CME-001  2024-11-27T02:48Z

                                         linkedEvents
6     [{'activityID': '2024-11-23T19:01:00-FLR-001'}]
11  [{'activityID': '2024-11-29T00:40:00-IPS-001'}...
12  [{'activityID': '2024-11-29T00:40:00-IPS-001'}...
16  [{'activityID': '2024-11-25T20:24:00-FLR-001'}...
19    [{'activityID': '2024-11-27T02:21:00-FLR-001'}]

In [10]:
# Notice that the linkedEvents sometimes contains multiple events per row
# Write a nested for loop that iterates first over each row in the cme DataFrame (using the index)
# and then iterates over the values in 'linkedEvents'
# and adds the elements individually to a list of dictionaries where each row is one element

# Initialize an empty list to store the expanded rows
expanded_rows = []

# Iterate over each index in the cme DataFrame
for i in cme_df.index:
    # Extract the activityID and startTime for the current row
    activity_id = cme_df.loc[i, 'activityID']
    start_time = cme_df.loc[i, 'startTime']

    # Get the list of dictionaries from the 'linkedEvents' column
    linked_events = cme_df.loc[i, 'linkedEvents']

    # Iterate over each dictionary in the list of linkedEvents
    for event in linked_events:
        # Append a new dictionary to the expanded_rows list
        expanded_rows.append({
            'activityID': activity_id,
            'startTime': start_time,
            'linkedEvent': event
        })

# Create a new DataFrame from the expanded rows
expanded_cme_df = pd.DataFrame(expanded_rows)

# Display the first few rows of the new DataFrame
print(expanded_cme_df.head())

                    activityID          startTime  \
0  2024-11-23T19:24:00-CME-001  2024-11-23T19:24Z
1  2024-11-25T03:12:00-CME-001  2024-11-25T03:12Z
2  2024-11-25T03:12:00-CME-001  2024-11-25T03:12Z
3  2024-11-25T04:00:00-CME-001  2024-11-25T04:00Z
4  2024-11-25T04:00:00-CME-001  2024-11-25T04:00Z

                                     linkedEvent
0  {'activityID': '2024-11-23T19:01:00-FLR-001'}
1  {'activityID': '2024-11-29T00:40:00-IPS-001'}
2  {'activityID': '2024-11-29T02:15:00-IPS-001'}
3  {'activityID': '2024-11-29T00:40:00-IPS-001'}
4  {'activityID': '2024-11-29T02:15:00-IPS-001'}

In [11]:
# Create a function called extract_activityID_from_dict that takes a dict as input such as in linkedEvents
# and verify below that it works as expected using one row from linkedEvents as an example
# Be sure to use a try and except block to handle errors

        # Log the error or print it for debugging
# Create a function to extract the 'activityID' from a dictionary in the 'linkedEvents' column
def extract_activityID_from_dict(input_dict):
    try:
        # Attempt to return the 'activityID' value
        return input_dict.get('activityID', None)
    except (AttributeError, TypeError) as e:
        # Log or print the error for debugging
        print(f"Error extracting activityID: {e}")
        return None

# Test the function using one row from linkedEvents as an example
example_linked_event = expanded_cme_df.loc[0, 'linkedEvent']
print("Example extracted activityID:", extract_activityID_from_dict(example_linked_event))

Example extracted activityID: 2024-11-23T19:01:00-FLR-001

In [12]:
# Apply this function to each row in the 'linkedEvents' column (you can use apply() and a lambda function)
# and create a new column called 'GST_ActivityID' using loc indexer:
# Apply the function to extract 'activityID' from the 'linkedEvent' column
# Create a new column called 'GST_ActivityID'
expanded_cme_df['GST_ActivityID'] = expanded_cme_df['linkedEvent'].apply(lambda x: extract_activityID_from_dict(x))

# Display the first few rows of the updated DataFrame
print(expanded_cme_df.head())

                    activityID          startTime  \
0  2024-11-23T19:24:00-CME-001  2024-11-23T19:24Z
1  2024-11-25T03:12:00-CME-001  2024-11-25T03:12Z
2  2024-11-25T03:12:00-CME-001  2024-11-25T03:12Z
3  2024-11-25T04:00:00-CME-001  2024-11-25T04:00Z
4  2024-11-25T04:00:00-CME-001  2024-11-25T04:00Z

                                     linkedEvent               GST_ActivityID
0  {'activityID': '2024-11-23T19:01:00-FLR-001'}  2024-11-23T19:01:00-FLR-001
1  {'activityID': '2024-11-29T00:40:00-IPS-001'}  2024-11-29T00:40:00-IPS-001
2  {'activityID': '2024-11-29T02:15:00-IPS-001'}  2024-11-29T02:15:00-IPS-001
3  {'activityID': '2024-11-29T00:40:00-IPS-001'}  2024-11-29T00:40:00-IPS-001
4  {'activityID': '2024-11-29T02:15:00-IPS-001'}  2024-11-29T02:15:00-IPS-001

In [13]:
# Remove rows with missing GST_ActivityID, since we can't assign them to GSTs:
# Remove rows with missing 'GST_ActivityID'
expanded_cme_df = expanded_cme_df.dropna(subset=['GST_ActivityID']).reset_index(drop=True)

# Display the first few rows of the cleaned DataFrame
print(expanded_cme_df.head())

                    activityID          startTime  \
0  2024-11-23T19:24:00-CME-001  2024-11-23T19:24Z
1  2024-11-25T03:12:00-CME-001  2024-11-25T03:12Z
2  2024-11-25T03:12:00-CME-001  2024-11-25T03:12Z
3  2024-11-25T04:00:00-CME-001  2024-11-25T04:00Z
4  2024-11-25T04:00:00-CME-001  2024-11-25T04:00Z

                                     linkedEvent               GST_ActivityID
0  {'activityID': '2024-11-23T19:01:00-FLR-001'}  2024-11-23T19:01:00-FLR-001
1  {'activityID': '2024-11-29T00:40:00-IPS-001'}  2024-11-29T00:40:00-IPS-001
2  {'activityID': '2024-11-29T02:15:00-IPS-001'}  2024-11-29T02:15:00-IPS-001
3  {'activityID': '2024-11-29T00:40:00-IPS-001'}  2024-11-29T00:40:00-IPS-001
4  {'activityID': '2024-11-29T02:15:00-IPS-001'}  2024-11-29T02:15:00-IPS-001

In [14]:

# Print out the data types of each column in the DataFrame
print(expanded_cme_df.dtypes)

activityID        object
startTime         object
linkedEvent       object
GST_ActivityID    object
dtype: object

In [15]:
# Convert the 'GST_ActivityID' column to string format
expanded_cme_df['GST_ActivityID'] = expanded_cme_df['GST_ActivityID'].astype(str)

# Rename 'startTime' to 'startTime_CME' and 'activityID' to 'cmeID'
expanded_cme_df.rename(columns={'startTime': 'startTime_CME', 'activityID': 'cmeID'}, inplace=True)

# Convert 'startTime_CME' to datetime format # Changed from 'startTime' to 'startTime_CME'
expanded_cme_df['startTime_CME'] = pd.to_datetime(expanded_cme_df['startTime_CME'])

# ... (Rest of the code) ...

In [16]:
# Verify the columns in the DataFrame
print("Columns in the CME DataFrame:", cme_df.columns)

# Check if 'linkedEvents' is present
if 'linkedEvents' in expanded_cme_df.columns:  # Check in expanded_cme_df
    # Process linkedEvents if the column exists
    # ... (Your existing code to process linkedEvents) ...

    # Drop the 'linkedEvents' column
    expanded_cme_df.drop(columns=['linkedEvents'], inplace=True)
else:
    print("The 'linkedEvents' column is missing. Skipping related processing.")

# Inspect columns
print("Columns in CME DataFrame:", cme_df.columns)

# Check if 'startTime' exists
if 'startTime' in cme_df.columns:
    # Proceed with processing
    print("Processing 'startTime' column...")
    # Example: Convert to datetime
    cme_df['startTime'] = pd.to_datetime(cme_df['startTime'])
else:
    # Handle missing 'startTime'
    print("The 'startTime' column is missing. Skipping related processing.")


# Verify that all steps were executed correctly
print(expanded_cme_df.head())
print(expanded_cme_df.info())

Columns in the CME DataFrame: Index(['activityID', 'startTime', 'linkedEvents'], dtype='object')
The 'linkedEvents' column is missing. Skipping related processing.
Columns in CME DataFrame: Index(['activityID', 'startTime', 'linkedEvents'], dtype='object')
Processing 'startTime' column...
                         cmeID             startTime_CME  \
0  2024-11-23T19:24:00-CME-001 2024-11-23 19:24:00+00:00
1  2024-11-25T03:12:00-CME-001 2024-11-25 03:12:00+00:00
2  2024-11-25T03:12:00-CME-001 2024-11-25 03:12:00+00:00
3  2024-11-25T04:00:00-CME-001 2024-11-25 04:00:00+00:00
4  2024-11-25T04:00:00-CME-001 2024-11-25 04:00:00+00:00

                                     linkedEvent               GST_ActivityID
0  {'activityID': '2024-11-23T19:01:00-FLR-001'}  2024-11-23T19:01:00-FLR-001
1  {'activityID': '2024-11-29T00:40:00-IPS-001'}  2024-11-29T00:40:00-IPS-001
2  {'activityID': '2024-11-29T02:15:00-IPS-001'}  2024-11-29T02:15:00-IPS-001
3  {'activityID': '2024-11-29T00:40:00-IPS-001'}  2024-11-29T00:40:00-IPS-001
4  {'activityID': '2024-11-29T02:15:00-IPS-001'}  2024-11-29T02:15:00-IPS-001
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cmeID           35 non-null     object
 1   startTime_CME   35 non-null     datetime64[ns, UTC]
 2   linkedEvent     35 non-null     object
 3   GST_ActivityID  35 non-null     object
dtypes: datetime64[ns, UTC](1), object(3)
memory usage: 1.2+ KB
None

In [17]:
# We are only interested in CMEs related to GSTs so keep only rows where the GST_ActivityID column contains 'GST'
# use the method 'contains()' from the str library.
# Filter the DataFrame to keep only rows where the 'GST_ActivityID' column contains 'GST'
cme_related_to_gst_df = expanded_cme_df[expanded_cme_df['GST_ActivityID'].str.contains('GST', na=False)]

# Display the first few rows of the filtered DataFrame
print(cme_related_to_gst_df.head())

# Verify the number of rows and columns in the filtered DataFrame
print(cme_related_to_gst_df.info())

Empty DataFrame
Columns: [cmeID, startTime_CME, linkedEvent, GST_ActivityID]
Index: []
<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cmeID           0 non-null      object
 1   startTime_CME   0 non-null      datetime64[ns, UTC]
 2   linkedEvent     0 non-null      object
 3   GST_ActivityID  0 non-null      object
dtypes: datetime64[ns, UTC](1), object(3)
memory usage: 0.0+ bytes
None

### GST Data

In [18]:
# Set the base URL to NASA's DONKI API:
base_url = "https://api.nasa.gov/DONKI/"

# Set the specifier for Geomagnetic Storms (GST):
GST = "GST"

# Search for GSTs between a begin and end date
startDate = "2013-05-01"
endDate   = "2024-05-01"

# Set the base URL to NASA's DONKI API:
base_url = "https://api.nasa.gov/DONKI/"

# Set the specifier for Geomagnetic Storms (GST):
GST = "GST"

# Search for GSTs between a begin and end date
startDate = "2013-05-01"
endDate   = "2024-05-01"


# Build URL for GST
gst_url = f"{base_url}GST?startDate={startDate}&endDate={endDate}&api_key=sNjM1Gxthf3AVfl2cSSBw0V0iqoBcM6McEDT6gmg" # Use NASA_API_KEY instead of api_key

In [19]:
# Make a "GET" request for the GST URL and store it in a variable named gst_response
gst_response = requests.get(gst_url)

In [20]:
# Convert the response variable to json and store it as a variable named gst_json
gst_json = gst_response.json()
# Preview the first result in JSON format
# Use json.dumps with argument indent=4 to format data
print(json.dumps(gst_json[0], indent=4))

{
    "gstID": "2013-06-01T01:00:00-GST-001",
    "startTime": "2013-06-01T01:00Z",
    "allKpIndex": [
        {
            "observedTime": "2013-06-01T01:00Z",
            "kpIndex": 6.0,
            "source": "NOAA"
        }
    ],
    "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/GST/326/-1",
    "linkedEvents": [
        {
            "activityID": "2013-05-31T15:45:00-HSS-001"
        }
    ],
    "submissionTime": "2013-07-15T19:26Z",
    "versionId": 1
}

In [21]:
# Convert gst_json to a Pandas DataFrame
gst_df = pd.DataFrame(gst_json)

# Keep only the columns: gstID, startTime, linkedEvents
gst_df = gst_df[['gstID', 'startTime', 'linkedEvents']]  # Changed 'activityID' to 'gstID'

# Display the first few rows of the filtered DataFrame
gst_df.head()

,gstID,startTime,linkedEvents
0,2013-06-01T01:00:00-GST-001,2013-06-01T01:00Z,[{'activityID': '2013-05-31T15:45:00-HSS-001'}]
1,2013-06-07T03:00:00-GST-001,2013-06-07T03:00Z,[{'activityID': '2013-06-02T20:24:00-CME-001'}]
2,2013-06-29T03:00:00-GST-001,2013-06-29T03:00Z,None
3,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,[{'activityID': '2013-09-29T22:40:00-CME-001'}...
4,2013-12-08T00:00:00-GST-001,2013-12-08T00:00Z,[{'activityID': '2013-12-04T23:12:00-CME-001'}...

In [22]:
# Notice that the linkedEvents column allows us to identify the corresponding CME
# Remove rows with missing 'linkedEvents' since we won't be able to assign these to CME
# Remove rows with missing 'linkedEvents' since we can't assign these to CME
gst_df = gst_df.dropna(subset=['linkedEvents'])

# Display the first few rows of the updated DataFrame
gst_df.head()

,gstID,startTime,linkedEvents
0,2013-06-01T01:00:00-GST-001,2013-06-01T01:00Z,[{'activityID': '2013-05-31T15:45:00-HSS-001'}]
1,2013-06-07T03:00:00-GST-001,2013-06-07T03:00Z,[{'activityID': '2013-06-02T20:24:00-CME-001'}]
3,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,[{'activityID': '2013-09-29T22:40:00-CME-001'}...
4,2013-12-08T00:00:00-GST-001,2013-12-08T00:00Z,[{'activityID': '2013-12-04T23:12:00-CME-001'}...
5,2014-02-19T03:00:00-GST-001,2014-02-19T03:00Z,[{'activityID': '2014-02-16T14:15:00-CME-001'}...

In [23]:
# Notice that the linkedEvents sometimes contains multiple events per row
# Use the explode method to ensure that each row is one element. Ensure to reset the index and drop missing values.
# Use the explode method to split multiple events into separate rows
gst_df['linkedEvents'] = gst_df['linkedEvents'].apply(lambda x: x if isinstance(x, list) else [x])
gst_df = gst_df.explode('linkedEvents').reset_index(drop=True)

# Drop any remaining missing values
gst_df = gst_df.dropna(subset=['linkedEvents'])

# Display the first few rows of the updated DataFrame
gst_df.head()

,gstID,startTime,linkedEvents
0,2013-06-01T01:00:00-GST-001,2013-06-01T01:00Z,{'activityID': '2013-05-31T15:45:00-HSS-001'}
1,2013-06-07T03:00:00-GST-001,2013-06-07T03:00Z,{'activityID': '2013-06-02T20:24:00-CME-001'}
2,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-09-29T22:40:00-CME-001'}
3,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-10-02T01:54:00-IPS-001'}
4,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-10-02T02:47:00-MPC-001'}

In [24]:
# Apply the extract_activityID_from_dict function to each row in the 'linkedEvents' column (you can use apply() and a lambda function)
# and create a new column called 'CME_ActivityID' using loc indexer:

# Remove rows with missing CME_ActivityID, since we can't assign them to CMEs:
# Apply the extract_activityID_from_dict function to the 'linkedEvents' column
gst_df['CME_ActivityID'] = gst_df['linkedEvents'].apply(lambda x: extract_activityID_from_dict(x))

# Remove rows with missing 'CME_ActivityID'
gst_df = gst_df.dropna(subset=['CME_ActivityID']).reset_index(drop=True)

# Display the first few rows of the updated DataFrame
gst_df.head()

,gstID,startTime,linkedEvents,CME_ActivityID
0,2013-06-01T01:00:00-GST-001,2013-06-01T01:00Z,{'activityID': '2013-05-31T15:45:00-HSS-001'},2013-05-31T15:45:00-HSS-001
1,2013-06-07T03:00:00-GST-001,2013-06-07T03:00Z,{'activityID': '2013-06-02T20:24:00-CME-001'},2013-06-02T20:24:00-CME-001
2,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-09-29T22:40:00-CME-001'},2013-09-29T22:40:00-CME-001
3,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-10-02T01:54:00-IPS-001'},2013-10-02T01:54:00-IPS-001
4,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-10-02T02:47:00-MPC-001'},2013-10-02T02:47:00-MPC-001

In [25]:
# Convert the 'CME_ActivityID' column to string format

# Convert the 'gstID' column to string format

# Convert startTime to datetime format

# Rename startTime to startTime_GST

# Drop linkedEvents

# Verify that all steps were executed correctly
# Convert the 'CME_ActivityID' column to string format
gst_df['CME_ActivityID'] = gst_df['CME_ActivityID'].astype(str)

# Convert the 'gstID' column to string format
gst_df['gstID'] = gst_df['gstID'].astype(str)

# Convert startTime to datetime format
gst_df['startTime'] = pd.to_datetime(gst_df['startTime'])

# Rename startTime to startTime_GST
gst_df.rename(columns={'startTime': 'startTime_GST'}, inplace=True)

# Drop linkedEvents column
gst_df.drop(columns=['linkedEvents'], inplace=True)

# Verify that all steps were executed correctly
print(gst_df.info())
gst_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gstID           205 non-null    object
 1   startTime_GST   205 non-null    datetime64[ns, UTC]
 2   CME_ActivityID  205 non-null    object
dtypes: datetime64[ns, UTC](1), object(2)
memory usage: 4.9+ KB
None

,gstID,startTime_GST,CME_ActivityID
0,2013-06-01T01:00:00-GST-001,2013-06-01 01:00:00+00:00,2013-05-31T15:45:00-HSS-001
1,2013-06-07T03:00:00-GST-001,2013-06-07 03:00:00+00:00,2013-06-02T20:24:00-CME-001
2,2013-10-02T03:00:00-GST-001,2013-10-02 03:00:00+00:00,2013-09-29T22:40:00-CME-001
3,2013-10-02T03:00:00-GST-001,2013-10-02 03:00:00+00:00,2013-10-02T01:54:00-IPS-001
4,2013-10-02T03:00:00-GST-001,2013-10-02 03:00:00+00:00,2013-10-02T02:47:00-MPC-001

In [26]:
# We are only interested in GSTs related to CMEs so keep only rows where the CME_ActivityID column contains 'CME'
# use the method 'contains()' from the str library.

# Keep only rows where the CME_ActivityID column contains 'CME'
filtered_gst_df = gst_df[gst_df['CME_ActivityID'].str.contains('CME', na=False)]

# Verify the filtering
print(filtered_gst_df.info())
filtered_gst_df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, 1 to 203
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gstID           61 non-null     object
 1   startTime_GST   61 non-null     datetime64[ns, UTC]
 2   CME_ActivityID  61 non-null     object
dtypes: datetime64[ns, UTC](1), object(2)
memory usage: 1.9+ KB
None

,gstID,startTime_GST,CME_ActivityID
1,2013-06-07T03:00:00-GST-001,2013-06-07 03:00:00+00:00,2013-06-02T20:24:00-CME-001
2,2013-10-02T03:00:00-GST-001,2013-10-02 03:00:00+00:00,2013-09-29T22:40:00-CME-001
5,2013-12-08T00:00:00-GST-001,2013-12-08 00:00:00+00:00,2013-12-04T23:12:00-CME-001
7,2014-02-19T03:00:00-GST-001,2014-02-19 03:00:00+00:00,2014-02-16T14:15:00-CME-001
9,2014-02-20T03:00:00-GST-001,2014-02-20 03:00:00+00:00,2014-02-18T01:25:00-CME-001

### Merge both datatsets

In [27]:
# We are only interested in CMEs related to GSTs so keep only rows where the GST_ActivityID column contains 'GST'
# use the method 'contains()' from the str library.
# Filter the DataFrame to keep only rows where the 'GST_ActivityID' column contains 'GST'
filtered_cme_df = expanded_cme_df[expanded_cme_df['GST_ActivityID'].str.contains('GST', na=False)]

# Display the first few rows of the filtered DataFrame
print(filtered_cme_df.head())

# Verify the number of rows and columns in the filtered DataFrame
print(filtered_cme_df.info())

# Now merge both datasets using 'gstID' and 'CME_ActivityID' for gst and 'GST_ActivityID' and 'cmeID' for cme. Use the 'left_on' and 'right_on' specifiers.
# Merge both datasets using the specified columns
merged_df = pd.merge(
    filtered_gst_df,
    filtered_cme_df,
    left_on=['gstID', 'CME_ActivityID'],
    right_on=['GST_ActivityID', 'cmeID'],
    how='inner'
)

# Verify the merged DataFrame
print(merged_df.info())
merged_df.head()

Empty DataFrame
Columns: [cmeID, startTime_CME, linkedEvent, GST_ActivityID]
Index: []
<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cmeID           0 non-null      object
 1   startTime_CME   0 non-null      datetime64[ns, UTC]
 2   linkedEvent     0 non-null      object
 3   GST_ActivityID  0 non-null      object
dtypes: datetime64[ns, UTC](1), object(3)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gstID           0 non-null      object
 1   startTime_GST   0 non-null      datetime64[ns, UTC]
 2   CME_ActivityID  0 non-null      object
 3   cmeID           0 non-null      object
 4   startTime_CME   0 non-null      datetime64[ns, UTC]
 5   linkedEvent     0 non-null      object
 6   GST_ActivityID  0 non-null      object
dtypes: datetime64[ns, UTC](2), object(5)
memory usage: 132.0+ bytes
None

Empty DataFrame
Columns: [gstID, startTime_GST, CME_ActivityID, cmeID, startTime_CME, linkedEvent, GST_ActivityID]
Index: []

In [28]:
# Now merge both datasets using 'gstID' and 'CME_ActivityID' for gst and 'GST_ActivityID' and 'cmeID' for cme. Use the 'left_on' and 'right_on' specifiers.
# Merge both datasets using the specified columns
merged_df = pd.merge(
    filtered_gst_df,
    filtered_cme_df,
    left_on=['gstID', 'CME_ActivityID'],
    right_on=['GST_ActivityID', 'cmeID'],
    how='inner'
)

# Verify the merged DataFrame
print(merged_df.info())
merged_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gstID           0 non-null      object
 1   startTime_GST   0 non-null      datetime64[ns, UTC]
 2   CME_ActivityID  0 non-null      object
 3   cmeID           0 non-null      object
 4   startTime_CME   0 non-null      datetime64[ns, UTC]
 5   linkedEvent     0 non-null      object
 6   GST_ActivityID  0 non-null      object
dtypes: datetime64[ns, UTC](2), object(5)
memory usage: 132.0+ bytes
None

Empty DataFrame
Columns: [gstID, startTime_GST, CME_ActivityID, cmeID, startTime_CME, linkedEvent, GST_ActivityID]
Index: []

In [29]:
# Verify that the new DataFrame has the same number of rows as cme and gst
# Verify the row counts
print(f"Number of rows in CME DataFrame: {filtered_cme_df.shape[0]}")
print(f"Number of rows in GST DataFrame: {filtered_gst_df.shape[0]}")
print(f"Number of rows in merged DataFrame: {merged_df.shape[0]}")

Number of rows in CME DataFrame: 0
Number of rows in GST DataFrame: 61
Number of rows in merged DataFrame: 0

### Computing the time it takes for a CME to cause a GST

In [30]:
# Compute the time diff between startTime_GST and startTime_CME by creating a new column called `timeDiff`.
# Compute the time difference between startTime_GST and startTime_CME
merged_df['timeDiff'] = merged_df['startTime_GST'] - merged_df['startTime_CME']

# Display the first few rows to verify
print(merged_df[['startTime_GST', 'startTime_CME', 'timeDiff']].head())

Empty DataFrame
Columns: [startTime_GST, startTime_CME, timeDiff]
Index: []

In [31]:
# Use describe() to compute the mean and median time
# that it takes for a CME to cause a GST.
# Compute and display the mean and median time it takes for a CME to cause a GST
time_diff_stats = merged_df['timeDiff'].describe()

mean_time = merged_df['timeDiff'].mean()
median_time = merged_df['timeDiff'].median()

print("Time Difference Statistics:")
print(time_diff_stats)
print(f"\nMean time difference: {mean_time}")
print(f"Median time difference: {median_time}")

Time Difference Statistics:
count      0
mean     NaT
std      NaT
min      NaT
25%      NaT
50%      NaT
75%      NaT
max      NaT
Name: timeDiff, dtype: object

Mean time difference: NaT
Median time difference: NaT

### Exporting data in csv format

In [32]:
# Export data to CSV without the index
# Export the final DataFrame to a CSV file
# Specify the file name and set index=False to exclude the index column
final_csv_file_name = "cme_gst_processed_data.csv"
merged_df.to_csv(final_csv_file_name, index=False)

print(f"Data has been successfully exported to {final_csv_file_name}")

Data has been successfully exported to cme_gst_processed_data.csv